.headlinks{
  border-radius: 5px;
  display: flex;
  background: #23252b;
}

.box{
  margin: 20px;
}

.headlink{
  text-decoration: none;
  font-family: Arial;
  font-size: 20px;
  color: #c0c1c4;
  font-weight: bold;
}

.greenheadlink{
  text-decoration: none;
  font-family: Arial;
  font-size: 20px;
  color: #6cdb0b;
  font-weight: bold;
}

.recommendations{
  display: flex;
}

.recommend{
  margin: 10px;
  background: #23252b;
  border-radius: 5px;
  padding: 10px;
  width: 350px;
}

.recommendimage{
 
}

.icon{
  width: 220px;
  height: 37px;
}

h2{
  font-family: Arial;
  font-size: 17px;
  color: #dcdcdd;
}

.recommendationtext{
  font-family: Arial;
  font-size: 18px;
  color: #b3b6bf;
}

.price{
  font-family: Arial;
  font-size: 18px;
  color: #dcdcdd;
  font-weight: bold;
}

.saleprice{
  font-family: Arial;
  font-size: 18px;
  color: #6cdb00;
  font-weight: bold;
}

.oldprice{
  font-family: Arial;
  font-size: 18px;
  color: #a7a8aa;
  font-weight: bold;
  text-decoration: line-through;
}

.buymenu{
  background: #22242c;
  margin: 10px;
  width: 1450px;
  display: flex;
  border-radius: 5px;
}

.buyoptions{
  margin: 15px;
}

.buyoption{
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  transition-duration: 0.25s;
  cursor: pointer;
}


.buyoption:hover{
  background: #3f434e;
}

.fiftyoff{
  background: #6cdb0b;
  padding: 5px;
  height: 20px;
  width: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.fiftyofftext{
  font-family: Arial;
  font-weight: bold;
}

.buyheader{
  display: flex;
  align-items: center;
}

.saleheader{
  background: #ffb400;
  padding: 10px;
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.saletext{
  font-family: Arial;
}

.slider{
  width: 1500px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height:500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 1500px;
}

.navigation-manual{
  position: absolute;
  width: 1500px;
  display: flex;
  justify-content: center;
  margin-top: -110px;

}

.manual-btn{
  background-color: #85868a;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  width: 50px;
  border: 0px;
  height: 0.15%;
  transition: 0.5s;
}

.manual-btn:not(:last-child){
  margin-right: 10px;
}

input[type="radio"]:checked + label{
  background-color: #148eff;
  border: 5px;
  border-color: #148eff;
}

.manual-btn:hover{
  background-color: #d9dadb;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#radio5:checked ~ .first{
  margin-left: -80%;
}

#radio6:checked ~ .first{
  margin-left: -100%;
}

/*
.first{
  animation: slide 16s infinite;
}

@keyframes slide{
  0%{
    margin-left: 0;
  }
  20%{
    margin-left: -20%;
  }
  40%{
    margin-left: -40%;
  }
  60%{
    margin-left: -60%;
  }
  80%{
    margin-left: -80%;
  }
  100%{
    margin-left: -100%;
  }
}

*/